body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: rgb(12, 103, 152);
  font-size: 22px;
}
a:hover{
  color: aqua;
}
header > nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.linkActivate{
  border-bottom: 2px chocolate solid;
}
